{% extends 'layout.html' %}

{% block content %}

<body>
   <div class="container content">
      <div class="page">
         <h1 class="page-title">About</h1>
         <p>컴퓨터학부 16학번 최승서입니다.</p>
         <p>제 관심 분야는 <b>Computer science, Photograph </b> 입니다.</p>
         <p>궁금하신 점이나 조언해주실 내용이 있으시면 언제든지 연락주세요!.</p>
         <h3 id="education">Education</h3>
         <ul>
            <li>영동고등학교 자연계 졸업</li>
            <li>숭실대학교 IT대학 컴퓨터학부 재학</li>
            <li>C언어 과외 가능</li>
          </ul>
</body>
{%endblock %}