{% extends 'layout.html' %}

{% block content %}


<div class="container" style="min-height: 200px; background-color: white; margin-top: 70px; float: center;">
   <div class="col-xl-12">
      <div>
         <h1 class="page-title"><strong>ABOUT</strong></h1>
      </div>
      <p class="lead">컴퓨터학부 20162518 <strong>최승서</strong></p>
      <hr>
      <div>
         <p>안녕하세요. 컴퓨터학부 16학번 최승서입니다.</p>
         <p>이 프로젝트는 <b>2020년 컴퓨터학부 웹프로그래밍 설계 및 실습 프로젝트</b>입니다.</p>
         <p>이 웹사이트는 Node JS와 Nunjucks를 이용해서 만들어졌습니다.</p>
      </div>
   </div>
</div>   

{%endblock %}