
<!DOCTYPE html>
<html>
    <head>
        <title>Answer 1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script>

            function redButtonClick(){
                var red = document.getElementById('red');
                red.style.backgroundColor = 'red';
            }
            function blueButtonClick(){
                var blues = document.querySelectorAll('h1');
                //blue.style.backgroundColor ='blue';
                //var blues = document.querySelectorAll('h1');
               
                for(var i=0; i < blues.length; i++){
                    var blue = blues[i];
                    blue.style.backgroundColor ='blue';
                }
            }
            window.onload = function (){
                
                
                
                //document.querySelector('h1').style.backgroundColor ='red';
                //document.querySelector('h1').style.backgroundColor ='blue';
            }
        </script>
    </head>
    <body>
        <h1 id="red">First</h1>
        <h1 id="blue">Second</h1>
        <h1 cid="blue">Third</h1>
        <button onclick="redButtonClick()">Red</button>
        <button onclick="blueButtonClick()">Blue</button>
    </body>
</html>
