{% extends 'layout.html' %}

{% block content %}
<body>
    <div class="timeline">
      {% if user %}
        <div>
          <form id="upload-form" action="/board" method="post">
            <div class="input-group">
               <label for="id">제목</label>
              <input id="title" name="title" required autofocus>
            </div>
            <div class="input-group">
               <label for="content">내용</label>
               <textarea id="content" name="content" maxlength="140"></textarea>
             </div>
            <div>
              <button id="upload-btn" type="submit" class="btn">등록</button>
            </div>
          </form>
        </div>
      {% endif %}
      <div class="twits">
        {% for board in boards %}
          <div class="twit">
            
            <div class="twit-author">{{board.title}}</div>
            <div class="twit-author">{{board.writer}}</div>
            <div class="twit-author">{{board.createdAt}}</div>
            <div class="twit-content">{{board.content}}</div>
            {% if board.writer === user.UserId %}
            <button class="modify">수정 </button>
            <form method="post" action="/board/delete">
               <input name="_id" type="hidden" value="{{ board._id }}">
               <input type = "submit" value= "글 삭제">
           </form>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
{% endblock %}

