{% extends 'layout.html' %}

{% block content %}
<body>
  <div class="container bootstrap snippets bootdey" style="margin-top: 60px;">
    {% if user %}
      <a id="posting" href="/board/post" class="btn btn-default" style=" float: right; margin-bottom: 10px;">글쓰기</a>
    {% endif %}

    {% for board in boards %}
    <div class="row">
        <form name="detail" action="/board/page" method="POST">
          <input type="hidden" name="title" value="{{board.title}}" />
          <input type="hidden" name="title" value="{{board.content}}" />
          <input type="hidden" name="title" value="{{board.writer}}" />
          <input type="hidden" name="title" value="{{board.createdAt}}" />
        </form>
      
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well blog">
              <a href="/board/page" onclick="javascript:document.detail.submit();"></a>
                    <div class="date primary">
                        
                        <span class="blog-date">{{board.writer}}</span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="blog-details">
                                <h2>{{board.title}}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>

    <div class="timeline">
      <div class="twits">
        {% for board in boards %}
          <div class="twit">
            
            <div class="twit-author">{{board.title}}</div>
            <div class="twit-author">{{board.writer}}</div>
            <div class="twit-author">{{board.createdAt}}</div>
            <div class="twit-content">{{board.content}}</div>
            {% if board.writer === user.UserId %}
            <button class="modify">수정 </button>
            <form method="post" action="/board/delete">
               <input name="_id" type="hidden" value="{{ board._id }}">
               <input type = "submit" value= "글 삭제">
           </form>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
{% endblock %}
