{% extends 'layout.html' %}

{% block content %}

    <div class="timeline" style="margin-top: 50px; float: center;">
      {% if user %}
        <div>
          <form id="upload-form" action="/gallery" method="post" enctype="multipart/form-data">
            <div class="input-group">
              <textarea id="content" name="content" maxlength="140"></textarea>
            </div>
            <div class="img-preview">
              <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
              <input id="img-url" type="hidden" name="url">
            </div>
            <div>
              <label id="img-label" for="img">사진 업로드</label>
              <input id="img" type="file" accept="image/*">
              <button id="btn" type="submit" class="btn">등록</button>
            </div>
          </form>
        </div>
      {% endif %}
      <div class="twits">
        {% for gallery in galleris %}
          <div class="twit">
            <input type="hidden" value="{{gallery.User.UserId}}" class="twit-user-id">
            <input type="hidden" value="{{gallery.UserId}}" class="twit-id">
            <div class="twit-author">{{gallery.writer}}</div>
            <div class="twit-author">{{gallery.createdAt}}</div>
            <div class="twit-content">{{gallery.content}}</div>
            {% if gallery.img %}
              <div class="twit-img"><img src="{{gallery.img}}" alt="섬네일"></div>
            {% endif %}
            {% if gallery.writer === user.UserId %}
            <button class="modify">수정 </button>
            <form method="post" action="/gallery/delete">
               <input name="_id" type="hidden" value="{{ gallery._id }}">
               <input type = "submit" value= "글 삭제">
           </form>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  
{% endblock %}

{% block script %}
  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        console.log('hello');
        axios.post('/gallery/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    };


  </script>
{% endblock %}