{% extends 'layout.html' %}

{% block content %}

  <div class="container" style="margin-top: 60px;" >

    <div class="row" >
      <section class="search" style="float: right; margin-bottom: 10px; margin-right: 35px;">
         <div class="inner">
            <div class="form">
               <form id="hashtag-form" action="/gallery/search"> 
                  <input type="text" name="search" placeholder="검색">
                  <button class="btn btn-default"> 검색 </button>
               </form>
            </div>
         </div>
      </section>
   </div>
   {% if type %}
   <h1>{{type}}{{query}} 검색결과</h1>
   <hr>
   {% endif %}


   {% if user and user.UserId %}
   <div class="row">
   <a id="posting" data-toggle="modal" data-target="#postModal"  class="btn btn-default" style=" float: right; margin-right: 35px;">
   업로드
   </a>
 </div>
 {% endif %}  
 
    {% for gallery in galleris %}
    
    <form id="{{gallery._id}}" action="/gallery/page" method="POST">
      <input type="hidden" name="_id" value="{{gallery._id}}"/>
    <div class="gallery-item">
      <a onclick="document.getElementById('{{gallery._id}}').submit();">
      <div class="square bg" style="background-image: url('{{gallery.img}}');">
        <div class="gallery-item-info">
          <div class="gallery-item-likes">
            <h1 class="visually-hidden">BY {{gallery.writer}}</h1>
          </div>
        </div>
      </div>
      </a>
    </div>
  </form>
    {% endfor %}

  </div>


  <div id="postModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="row">
        <div class="col-md-12 col-md-offset-2">
          <div class="modal-content">
        
            <div class="modal-header ">
              <button type="button" class="close" data-dismiss="modal"> &times;</button>
              <h4>업로드</h4>
            </div>
            <div class="modal-body">
              
              <form id="upload-form" action="/gallery" method="post" enctype="multipart/form-data">
                <div class="img-preview">
                  <img id="img-preview" src="image.png"   alt="미리보기">
                  <input id="img-url" type="hidden" name="url" required>
                 
                  <input id="img" type="file" accept="image/*">
                </div>
                <div class="form-group">
                    <label for="description">내용</label>
                    <textarea id="content" style="resize:none;" rows="5" class="form-control" name="content" ></textarea>
                </div>
                
                <div>
                  <button type="submit" class="btn btn-info btn-xs">등록</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  
{% endblock %}

{% block script %}
  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        console.log('hello');
        axios.post('/gallery/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    };
 

  </script>
{% endblock %}