<!DOCTYPE html>
<html>
  <head>
  
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/main.css">

   </head>
  <body >
    <!---https://codepen.io/Nashwa_Ashour/pen/zqrPzB -->
    <!-- 위 링크에서 헤더 네비바 디자인 -->
    <nav class="navbar navbar-inverse  navbar-fixed-top"  role="navigation" style="background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7); ">
                                  
      <div class="container" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li>
                  <a href="/">HOME</a>
              </li>
              <li>
                  <a href="/about">ABOUT</a>
              </li>
              <li>
                  <a href="/board">BOARD</a>
              </li>   
              <li>
                  <a href="/gallery">GALLERY</a>
              </li>  
            </ul>
            {% if user and user.UserId %}
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a>MESSAGE</a>
              </li>
            
              <li><a>{{user.UserName + '님'}}</a></li>
              <li><a id ="logout" href="/auth/logout">로그아웃</a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li><a data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span>LOGIN</a></li>
            </ul>
            {% endif %}
        </div>
      </div>
    </nav>
      
    <div id="loginModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"> &times;</button>
              <h4>Login</h4>
            </div>
            <div class="modal-body">
              <form id ="login form" action="/auth/login" method="post" class="form-inline">
                  <div class="form-group">
                    <label class="sr-only" for="id">아이디</label>
                    <input type="text" class="form-control input-sm" placeholder="ID" id="id" name="UserId" required autofocus>
                  </div>
                  <div class="form-group">  
                    <label class="sr-only" for="password">비밀번호</label>
                      <input type="password" class="form-control input-sm" placeholder="Password" id="password" name="UserPassword" required>
                  </div>
                  <button id = "login" type="submit" class="btn btn-info btn-xs">로그인</button>
                  <a id="join" href="/join" class="btn btn-info btn-xs">회원가입</a> 
              </form>
            </div>
        </div>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
    {% block script %}
    {% endblock %}
  </body>
  <footer>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline" >
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/board">Board</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">This Project in https://github.com/frics/WebProgrammingHW1</p>
            </div>
        </div>
    </div>
</footer>

</html>


