{% extends 'layout.html' %}

{% block content %}

<div class="container bootstrap snippets bootdey" style="margin-top: 60px; ">
   <div class="row" style="float: right; margin-bottom: 10px;">
      <section class="search">
         <div class="inner">
            <div class="form">
               <form id="hashtag-form" action="/search"> 
                  <input type="text" name="search" placeholder="검색">
                  <select name="type"id="type" >
                     <option value="본문">본문</option>
                     <option value="ID">ID</option>
                     <option value="#">#</option>
                  </select>
                  <button class="btn">검색</button>
               </form>
            </div>
         </div>
      </section>
   </div>

   {% if type %}
      {% if type === "#" %}
      <h1>{{type}}{{query}} 검색결과</h1>
      {% else %}
      <h1>{{type}} : {{query}} 검색결과</h1>
      {% endif %}
      <hr>
   {% endif %}

   {% if boards %}
   <div>
      <h2>BOARD</h2>
   </div>
   {% endif %}

   {% for board in boards %}
   <div class="row">
   <form id="{{board._id}}"  action="/board/page" method="POST">
      <input type="hidden" name="_id" value="{{board._id}}" />
      <a onclick="document.getElementById('{{board._id}}').submit();">
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            <div class="well blog" >
               
               <div class="date primary">
                  <span class="blog-date">{{board.writer}}</span>  
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                     <div class="blog-details">
                           <h2 >{{board.title}}</h2>
                     </div>
                  </div>
               </div>
               
            </div>
         </div>
      </a>
      </form>
   </div>
   {% endfor %}
</div>
{% if galleris %}

<div class="container">
   <hr>
   <h2>GALLERY</h2>
</div>
{% endif %}
<div class="container">
   {% for gallery in galleris %}
   <form id="{{gallery._id}}" action="/gallery/page" method="POST">
      <input type="hidden" name="_id" value="{{gallery._id}}"/>
      <div class="gallery-item">
         <a onclick="document.getElementById('{{gallery._id}}').submit();">
            <div class="square bg" style="background-image: url('{{gallery.img}}');">
               <div class="gallery-item-info">
                     <h1 class="visually-hidden">BY {{gallery.writer}}</h1>
               </div>
            </div>
         </a>
      </div>
   </form>
   {% endfor %}
</div>


{% endblock %}

{% block script %}
<script>
   $('.search-button').click(function(){
  $(this).parent().toggleClass('open');
});
</script>
{% endblock %}