

body {
  background: url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  
}


/* Gallery Section */

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-color:#1E1E1E;
    overflow:hidden;
}

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}


.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
  display: none;
}


@supports (display: grid) {
  .gallery-item {
      width: auto;
      margin: 0;
  }  
}

#img-preview{
  display: block; margin: 0 auto; 
  max-height: 300px;
  float: none;
  border-color: black;
  border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
}

#img-view{
  display: block; margin: 0 auto; 
  width: 100%;
  float: none;
  border-color: black;
  border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
}


footer {
  width:100%;
  padding: 10px 0;
  position:fixed;
  bottom:0;
  text-align: center;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
}
a { 
  text-decoration: none;
  color: #000000; 
}


.list-message .list-group-item {
 
  color: #000000 !important;
  border-right: 3px solid #8CC152 !important;
}
.list-message .list-group-item.active {
  background-color: #EEEEEE;
  border-bottom: 1px solid #DDD !important;
}
.list-message .list-group-item.active p {
  color: #000000 !important;
}
.list-message .list-group-item.active:hover, .list-message .list-group-item.active:focus, .list-message .list-group-item.active:active {
  background-color: #EEEEEE;
}
.list-message .list-group-item small {
  font-size: 12px;
}
.list-message .list-group-item .list-group-item-heading {
  color: #000000 !important;
}
.list-message .list-group-item .list-group-item-text {
  margin-bottom: 10px;
}
.list-message .list-group-item:last-child {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-bottom: 1px solid rgb(0, 0, 0) !important;
}
